---
title: Stories
---
<h2>Stories</h2>

Here you will find some fiction that I have written. I haven't been doing much creative writing recently, but it is something that I plan on getting back to. The stories are sorted alphabetically and include genre and approximate read times. If you're not sure where to start, I would recommend <a href="https://pawnstorm.net/stories/caldera.html">Caldera</a> if you like fantasy and <a href="https://pawnstorm.net/stories/there-are-no-words.html">There Are No Words</a> if science fiction is more your style.

<hr>

{% for story in site.stories %}
  <div class="listTitle singleLine storyTitle"><a href="{{ site.baseurl }}{{ story.url }}" class="list">{{ story.title }}</a></div>
  <div class="storyGrid">
    <div class="hideOverflow">{{ story.genre }}</div>
    <div class="lastColumn">
      {% if story.wordcount == "Series" %}
        Series
      {% else %}
        {{ story.wordcount | divided_by: 200 }} minute read
      {% endif %}
    </div>
    <div class="storyExcerpt">{{ story.excerpt }}</div>
  </div>
{% endfor %}
