<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="follow_it-verification-code" content="ezt0UZvADbwz03LdtnCZ"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    {% seo %}
  </head>
  <body>
    {% include title.html %}
    <div class="siteLayout">
      {% include navigation.html %}
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
