---
layout: default
---
<div class="container">

{{ content }}

<hr />
<div class="centeredText"><a href="{{ site.baseurl }}/stories/horizon.html">Return to Horizon Station home</a></div>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="next nav" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% else %}
    This is the first story.
  {% endif %}
  {% if page.next.url %}
    <a class="prev nav" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% else %}
    This is the last story (so far).
  {% endif %}
</div>
</div>
